table	{
	border-collapse: inherit;
}

.markdown-body table	{
	display: table;
	table-layout: fixed;
}

.markdown-body table thead	{
	display: none;
}

.markdown-body table tr,
.markdown-body table tr:nth-child(2n),
.markdown-body table td	{
	border-radius: 0.5rem;
	background-color: transparent;
}

ul {
	border: 0.1rem solid #E1E1E1;
	border-radius: 0.5rem;
}

.markdown-body ul	{
	padding: initial;
}

ul li {
	list-style: none;
	border-bottom: 0.1rem solid #E1E1E1;
	padding: 15px;
	margin-bottom: 0;
}

ul ul {
	border: none;
}

ul ul li {
	border-bottom: none;
	float: right;
	margin-top: -2.5rem;
}
