.markdown-body li + li {
	margin-top: 0px;
}
li {
	display: inline-block;
	float: left;
	width: 50%;
}

li:nth-child(2n) {
	text-align: right;
}

ul::after {
  clear: both;
  content: "";
  display: block;
}